{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}changedpassword{% endblock title %}

{% block main-content %}

<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
        <h3 style="    margin-left: 10%;
        font-weight: bolder;">Password Changed Successfully</h3>
        <img src="{% static '/images/checked.png' %}" style="    width: 27%;
        margin-left: 20%;
        /* top: 10%; */
        margin-top: 7%;">
    </div>
    
    </div>
</div>

{% endblock main-content %}